@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@media screen and (max-width: 670px) {
    :root {
        --Grifinória: #A6332E;
        --Lufa: #EFBC2F;
        --Corvinal: #3C4E91;
        --Sonserina: #366447;
        --White: #ffff;
        --Black: #000000;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Merriweather;
    }
    
    html, body {
        width: 100%;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: var(--White);
    }
    
    main {
        width: 100%;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        background-color: var(--White);
    }
    
    button {
        width: 100%;
        height: calc(100%/4);
        border: none;
        color: var(--White);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .buttongrifinoria {
        background-color: var(--Grifinória); 
    }
    
    .buttonlufa {
        background-color: var(--Lufa);
    }
    
    .buttoncorvinal {
        background-color: var(--Corvinal);
    }
    
    .buttonSonserina {
        background-color: var(--Sonserina); 
    }
}